<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/CSS/style_nosotros.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body class="fondo1 centrar">

    <!--Menú de navegación-->
    <nav class="margin">
        <!--Imagen de logo-->
        <img src="https://i.postimg.cc/Y2gQQ63p/logopequenito.png">
        <a href="index.html" class="letra_mediana boton boton_naranja">Inicio</a>
        <!--Reemplazar nombres de documento-->
        <a href="#" class="letra_mediana boton boton_naranja">Sobre Nosotros</a>
        <a href="iniciar_sesion.php" class="letra_mediana boton boton_naranja">Iniciar Sesión</a>
        <a href="registrarse.php" class="letra_mediana boton boton_naranja">Registrarse</a>
    </nav>

    <section id="Sobre nosotros" class="Sobre nosotros">
       
<section id="Sobre nosotros" class="Sobre nosotros">
    <div class="imgWrapper4">
        <div class="imgResponsiva">
            <img src="https://i.postimg.cc/g2v4PnWX/Whats-App-Image-2021-06-28-at-7-18-57-PM.jpg%22/%3E%22%3E">
        <h1 class="negrilla">Cristian García</h1>
        </div>
        <div class="imgResponsiva">
            <img src="https://i.postimg.cc/XvShwRVF/Whats-App-Image-2021-06-28-at-7-18-56-PM.jpg%22/%3E%22%3E">
        <h1 class="negrilla">Diana Guevara</h1>
        </div>
        <div class="imgResponsiva">
            <img src="https://i.postimg.cc/rpwryDkh/Whats-App-Image-2021-06-28-at-7-12-16-PM.jpg%22/%3E%22%3E">
            <h1 class="negrilla">Anyi Becerra</h1>
        </div>
        <div class="imgResponsiva">
            <img src="https://i.postimg.cc/CKjJCd1H/gofijnp.jpg%22/%3E%22%3E">
            <h1 class="negrilla">Natalia Pinto</h1>
        </div>
        
        <div class="imgResponsiva">
            <img src="https://i.postimg.cc/nrDSbzsN/Whats-App-Image-2022-04-01-at-10-19-41-PM-1.jpg ">
            <h1 class="negrilla">Brayan Horta</h1>
        </div>
    </div>

    </section>
<br></br>
<div class="informacion-si letra_mediana">
    <h1 class="negrilla">Misión</h1><br>Lograr que los estudiantes y aprendices puedan optimizar su tiempo de una manera correcta para facilitar la entrega de sus deberes académicos.</div>
<br></br>
<div class="informacion-si letra_mediana"> <h1 class="negrilla">Visión</h1><br>Nos visualizamos en el año 2022 como la solución a las problemáticas de tiempo para los aprendices y estudiantes, organizando su horario académico y optimizando su rendimiento. </div>
            