/*styles de Planner*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}
*, *::before,*::after{
    box-sizing: border-box;
}
/*El primer color de fondo del body*/
.fondo2{
    background-color:#fff7e0;
}
/*Tamaños de letra*/
.letra_mediana{
    font-size: 21px;
}
.letra_grande{
    font-size: 50px;
}
.letra_extragrande{
    font-size: 70px;
}
/*centrar en general*/
.centrar{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.cabecera{
    background-color: #ea681a;
    padding: 10px;
}
/*botones en general*/
.boton{
    padding: 1px 1.4em;
    margin:4px;
    display: inline-block;
}
.boton:active {
    transform: scale(.95);
}
.inline_block{
    display: inline-block;
}
.boton_naranja2{
    background-color:#dd5e17;
    color:white;
    box-shadow:4px 3px black;
    margin:15px 0;
}
.logo{
    position: absolute;
    right: 500px;
    left:6px;
    top: 3px;
    width: 90px;
}

/*Estilos de la tabla*/

#tabla {
    border-collapse: collapse;
}
tbody {
    background: white;
}
td, th {
    border: black 2px solid;
}
tr th {
    padding: 6px; 
    text-align: center;
}
.clase-tabla {
    float: center;
}
tr td {
    padding: 6px; 
    text-align: center; 
    padding: 15px;
}
.act_tabl {
    width: 350px;
}
.estad_tabl {
    width: 200px;
}
.obj_tabl {
    width: 150px;
}
/*Administrar Actividad*/
.contenedor-lista-botones {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .lista-botns {
    float: left;
  }
  .lista-dos {
    float: right;
  }
  
  .lista-botns .boton_naranja2 {
    display: block;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    width: 150px;
  }

  .botn-der {
    margin-right: 20px;
  }

  .botn-izq {
    margin-left: 20px;
  }

  .cont_info_perfil_admin{
    margin-top:30px;
    margin-left: 200px;
    margin-right: 200px;
}